* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;;
}
body {
  height: 100%;
  width: 100%;
  background-color: #202020;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card .p a {
  text-decoration: none;
}
.donate-title {
  padding-top: 30px;
  color: white;
  font-size: 1rem;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  width: 250px;
  height: 140px;
  border: 2px white solid;
  border-radius: 20px;
  padding: 10px;
}
.card2   {
  height: 160px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.card h1 {
  color: white;
  padding: 10px;
  font-size: 1.2rem;
}
.card P {
  color: white;
}
.card  .span1 {
  color: yellow;
  padding: 10px;
  font-size: 1.4rem;
}
.card  .span5  {
  color: red;
  padding: 10px;
  font-size: 1.4rem;
}
.card .span3 {
  color: blue;
  padding: 10px;
  font-size: 1.4rem;
}
.card  .span2 {
  color: yellow;
  padding: 10px;
}
.card  .span6 {
  color: red;
  padding: 10px;
}
.card  .span4 {
  color: blue;
  padding: 10px;
}
.p {
  padding: 10px;
}
/* donation */
.donate {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #202020;
  align-items: center;
}
.cards {
  padding-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  /* pay-copy */
@media screen and (max-width: 750px) {
  footer .p1 {
    display: flex;
    flex-direction: column;
  }
  footer .links ul {
    display: flex;
    flex-direction: column;
  }
  
}
@media screen and (max-width: 890px) {
  footer {
    display: flex;
    flex-direction: row;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
}

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
  height: 30px;
  width: 100%;
  background-color: #2b2b2b;
  z-index: 1;
}
.p1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.p1 p{
  font-size: 0.9rem;
  color: white;
  margin-right: 20px;
}
.p1 h1{
  font-size: 0.9rem;
  color: red;
}
.p1 h1 span {
  color: white;
  font-size: 0.9rem;
}
.links {
  font-size: 0.9rem;
}
.links ul {
  color: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.links ul li {
  position: relative;
  margin-right: 20px;
}
.links ul li a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}